src/Node-red/doorman.txt
[{"id":"9ca3807c.e8471","type":"tab","label":"Doorman","disabled":false,"info":"Doorman identifies visitors and notifies the owner. In case of harm identified alrted to emergency contacts."},{"id":"7433ead1.d62d14","type":"file in","z":"9ca3807c.e8471","name":"Load the image file","filename":"/home/pi/Desktop/image.jpg","format":"","sendError":true,"x":550,"y":320,"wires":[["a636ac03.c05a9"]]},{"id":"1473de4d.8f9c82","type":"http request","z":"9ca3807c.e8471","name":"request Vision","method":"POST","ret":"obj","url":"","tls":"","x":520,"y":400,"wires":[["aaa8f124.36dd"]]},{"id":"a636ac03.c05a9","type":"function","z":"9ca3807c.e8471","name":"Detect Human Face","func":"var image = {content: msg.payload.toString('base64')};\nvar features = {type: 'FACE_DETECTION', maxResults: 3};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\nmsg.payload = requests;\nglobal.set(\"imagebase64\",msg.payload.toString('base64'));\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":320,"wires":[["bb3f2233.b5e05"]]},{"id":"bb3f2233.b5e05","type":"change","z":"9ca3807c.e8471","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyAA7ozGl66gZC4yaq981Jxi5Xp6auEPv4s","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":400,"wires":[["1473de4d.8f9c82"]]},{"id":"aaa8f124.36dd","type":"function","z":"9ca3807c.e8471","name":"parse result","func":"//To skip messages like { \"responses\": [ {} ] }\nif (Object.keys(msg.payload.responses[0]).length < 1) {\n    msg.payload=\"\";\n    return msg;\n}\n\nvar labels = 0;\nvar faceAnnotations = msg.payload.responses[0].faceAnnotations;\nfor (var i = 0; i < faceAnnotations.length; i++) {\n    labels+=(faceAnnotations[i].detectionConfidence);\n}\nvar confidence = labels/faceAnnotations.length;\nmsg.payload = confidence.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":400,"wires":[["bbcaf012.bc589","528f51f0.77a24"]]},{"id":"bbcaf012.bc589","type":"switch","z":"9ca3807c.e8471","name":"XOR","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":480,"wires":[["dd60a51b.7df0e8","ed62ca5e.c42928","4e59050a.f8a06c"]]},{"id":"dd60a51b.7df0e8","type":"ui_gauge","z":"9ca3807c.e8471","name":"","group":"3205cbc5.3a81a4","order":0,"width":0,"height":0,"gtype":"gage","title":"Detection Confidence","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#b50000","#e6e600","#68f909"],"seg1":"0.40","seg2":"0.60","x":360,"y":540,"wires":[]},{"id":"eb0dadf2.4285e","type":"http request","z":"9ca3807c.e8471","name":"Save to database","method":"POST","ret":"txt","url":"https://api.mlab.com/api/1/databases/home_security/collections/visitors?apiKey=MrfpkboO2errNtfksqJXEHStAEXSX9ah","tls":"","x":610,"y":800,"wires":[[]]},{"id":"b72350dd.7b4c6","type":"json","z":"9ca3807c.e8471","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":740,"wires":[["eb0dadf2.4285e"]]},{"id":"1272324f.a7271e","type":"base64","z":"9ca3807c.e8471","name":"","action":"str","property":"payload","x":600,"y":620,"wires":[["18e87976.4f1ce7","68882e.780cd7d4"]],"outputLabels":["{\"image\":\"hi\"}"]},{"id":"ed62ca5e.c42928","type":"file in","z":"9ca3807c.e8471","name":"Load Image","filename":"/home/pi/Desktop/image.jpg","format":"","chunk":false,"sendError":false,"x":630,"y":560,"wires":[["1272324f.a7271e","5c857c5a.827e44"]]},{"id":"18e87976.4f1ce7","type":"function","z":"9ca3807c.e8471","name":"Frame body","func":"var newMsg = {\n            date:new Date(),\n            imageBase64:msg.payload\n    };\n\nnewMsg = JSON.stringify(newMsg);\n\nreturn {payload:newMsg};","outputs":1,"noerr":0,"x":610,"y":680,"wires":[["b72350dd.7b4c6"]]},{"id":"5c857c5a.827e44","type":"function","z":"9ca3807c.e8471","name":"Detect Labels","func":"var image = {content: msg.payload.toString('base64')};\nvar features = {type: 'LABEL_DETECTION', maxResults: 30};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\nmsg.payload = requests;\nglobal.set(\"imagebase64\",msg.payload.toString('base64'));\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":560,"wires":[["8036a576.ca6a48"]]},{"id":"8036a576.ca6a48","type":"change","z":"9ca3807c.e8471","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyAA7ozGl66gZC4yaq981Jxi5Xp6auEPv4s","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":640,"wires":[["4b1df7a8.838e08"]]},{"id":"4b1df7a8.838e08","type":"http request","z":"9ca3807c.e8471","name":"Request Vision","method":"POST","ret":"obj","url":"","tls":"","x":1110,"y":705.0000023841858,"wires":[["3fe080e3.57917"]]},{"id":"3fe080e3.57917","type":"function","z":"9ca3807c.e8471","name":"parse result","func":"var labels = \"\";\nvar labelAnnotations = msg.payload.responses[0].labelAnnotations;\nfor (var i = 0; i < labelAnnotations.length; i++) {\n    labels+=(\"<br><label style=\\\"color:green;\\\">\"+labelAnnotations[i].description+\"</label>\");\n}\nmsg.payload = labels;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":760,"wires":[["2e203491.49559c"]]},{"id":"2e203491.49559c","type":"ui_text","z":"9ca3807c.e8471","group":"f6752170.9a4aa","order":0,"width":"3","height":"5","name":"","label":"Labels Detected:","format":"{{msg.payload}}","layout":"col-center","x":1150,"y":820,"wires":[]},{"id":"68882e.780cd7d4","type":"ui_template","z":"9ca3807c.e8471","group":"f6752170.9a4aa","name":"","order":0,"width":"6","height":"8","format":"<script>\n    (function(scope) {\n        var img = 'data:image/png;base64,';\n        scope.$watch('msg.payload', function(data) {\n            //img = img + data;\n            console.log(img+data);\n            if(data!=null && data !=\"\"){\n                document.getElementById('image1').src = img+data;\n                document.getElementById('image1').style.display=\"block\";\n            }\n            else{\n               document.getElementById('image1').style.display=\"none\"; \n            }\n        });\n    })(scope);\n</script>\n<div>\n    <img id=\"image1\" style=\"width:100%;height:100%;display:none\" src=\"asss\" alt=\"Image\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":796.6666030883789,"y":641.2499256134033,"wires":[[]]},{"id":"4e59050a.f8a06c","type":"exec","z":"9ca3807c.e8471","command":"python /home/pi/background/sms.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SMS alert","x":615,"y":479.5833492279053,"wires":[[],[],["42b0dde0.1b3f84"]]},{"id":"42b0dde0.1b3f84","type":"debug","z":"9ca3807c.e8471","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":865,"y":479.5833492279053,"wires":[]},{"id":"528f51f0.77a24","type":"debug","z":"9ca3807c.e8471","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":360,"wires":[]},{"id":"8d2ab6af.0907f8","type":"rpi-gpio in","z":"9ca3807c.e8471","name":"","pin":"3","intype":"tri","debounce":"25","read":false,"x":270,"y":320,"wires":[["7433ead1.d62d14"]]},{"id":"3205cbc5.3a81a4","type":"ui_group","z":"","name":"Analysis","tab":"3eff6d1b.516ad2","order":3,"disp":true,"width":"6","collapse":false},{"id":"f6752170.9a4aa","type":"ui_group","z":"","name":"Image","tab":"3eff6d1b.516ad2","disp":true,"width":"10","collapse":false},{"id":"3eff6d1b.516ad2","type":"ui_tab","z":"","name":"Doorman","icon":"dashboard"}]