src/Node-red/doorman.txt
[{"id":"3e2a2ff3.6df0f","type":"tab","label":"Doorman","disabled":false,"info":"Doorman identifies visitors and notifies the owner. In case of harm identified alrted to emergency contacts."},{"id":"7d83e89d.9bdeb8","type":"file in","z":"3e2a2ff3.6df0f","name":"Load the image file","filename":"C:\\Users\\Hiresh\\Desktop\\hiresh.jpg","format":"","sendError":true,"x":470,"y":340,"wires":[["cefe6643.b9d178"]]},{"id":"72def05a.677e1","type":"http request","z":"3e2a2ff3.6df0f","name":"Send a request to get labels","method":"POST","ret":"obj","url":"","tls":"","x":460,"y":480,"wires":[["fd2c92e3.c5703","f564148d.81c0c8"]]},{"id":"cefe6643.b9d178","type":"function","z":"3e2a2ff3.6df0f","name":" Google Cloud Vision API ","func":"var image = {content: msg.payload.toString('base64')};\nvar features = {type: 'FACE_DETECTION', maxResults: 3};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\nmsg.payload = requests;\nglobal.set(\"imagebase64\",msg.payload.toString('base64'));\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["56ca39d7.3f0f28"]]},{"id":"56ca39d7.3f0f28","type":"change","z":"3e2a2ff3.6df0f","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"googleapikey","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":480,"wires":[["72def05a.677e1"]]},{"id":"fd2c92e3.c5703","type":"function","z":"3e2a2ff3.6df0f","name":"Report found labels","func":"//To skip messages like { \"responses\": [ {} ] }\nif (Object.keys(msg.payload.responses[0]).length < 1) {\n    return null;\n}\n\nvar labels = 0;\nvar faceAnnotations = msg.payload.responses[0].faceAnnotations;\nfor (var i = 0; i < faceAnnotations.length; i++) {\n    labels+=(faceAnnotations[i].detectionConfidence);\n}\nvar confidence = labels/faceAnnotations.length;\nmsg.payload = confidence.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":480,"wires":[["57acf64f.36e368"]]},{"id":"11f124e1.e12b5b","type":"inject","z":"3e2a2ff3.6df0f","name":"Trigger","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":222,"y":340,"wires":[["7d83e89d.9bdeb8"]]},{"id":"2c313a0e.4080e6","type":"exec","z":"3e2a2ff3.6df0f","command":"date","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SMS Alert","x":360,"y":600,"wires":[[],[],["e4d8f592.53d118"]]},{"id":"57acf64f.36e368","type":"switch","z":"3e2a2ff3.6df0f","name":"XOR","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":600,"wires":[["292575fd.5ea31a","2c313a0e.4080e6","e10b34a7.921ee8"]]},{"id":"292575fd.5ea31a","type":"ui_gauge","z":"3e2a2ff3.6df0f","name":"","group":"aa27d01f.db159","order":0,"width":0,"height":0,"gtype":"gage","title":"Detection Confidence","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#b50000","#e6e600","#68f909"],"seg1":"0.40","seg2":"0.60","x":380,"y":660,"wires":[]},{"id":"987e7290.2a85","type":"ui_form","z":"3e2a2ff3.6df0f","name":"","label":"","group":"904121b7.faead","order":0,"width":0,"height":0,"options":[{"label":"File_path","value":"File_path","type":"text","required":true},{"label":"GoogleAPI","value":"GoogleAPI","type":"text","required":false},{"label":"c","value":"c","type":"text","required":false},{"label":"d","value":"d","type":"text","required":false}],"formValue":{"File_path":"","GoogleAPI":"","c":"","d":""},"payload":"","submit":"submit","cancel":"cancel","topic":"msg.config","x":110,"y":140,"wires":[["da989157.c2801"]]},{"id":"da989157.c2801","type":"function","z":"3e2a2ff3.6df0f","name":"set config","func":"global.set(\"googleapikey\",msg.payload.GoogleAPI);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["9b505f76.f1fdb","3ccac172.a01efe","522f166d.00c7b8","6b5ff8ed.832ab8"]]},{"id":"3ccac172.a01efe","type":"ui_text","z":"3e2a2ff3.6df0f","group":"b38dd4b2.3fd2a8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":60,"wires":[]},{"id":"9b505f76.f1fdb","type":"ui_text","z":"3e2a2ff3.6df0f","group":"b38dd4b2.3fd2a8","order":0,"width":0,"height":0,"name":"","label":"API Key","format":"{{msg.payload.GoogleAPI}}","layout":"row-spread","x":589,"y":100,"wires":[]},{"id":"522f166d.00c7b8","type":"ui_text","z":"3e2a2ff3.6df0f","group":"b38dd4b2.3fd2a8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":140,"wires":[]},{"id":"6b5ff8ed.832ab8","type":"ui_text","z":"3e2a2ff3.6df0f","group":"b38dd4b2.3fd2a8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":180,"wires":[]},{"id":"e4d8f592.53d118","type":"debug","z":"3e2a2ff3.6df0f","name":"SMS debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":600,"wires":[]},{"id":"e10b34a7.921ee8","type":"function","z":"3e2a2ff3.6df0f","name":"trigger to save image","func":"if(msg.payload < 0.5){\n    return null;\n}\nmsg.payload =  global.imagebase64;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":740,"wires":[["e646b160.0b119"]]},{"id":"7487330a.24c83c","type":"debug","z":"3e2a2ff3.6df0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":740,"wires":[]},{"id":"e646b160.0b119","type":"switch","z":"3e2a2ff3.6df0f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":740,"wires":[["7487330a.24c83c"]]},{"id":"f564148d.81c0c8","type":"debug","z":"3e2a2ff3.6df0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":379,"y":835,"wires":[]},{"id":"aa27d01f.db159","type":"ui_group","z":"","name":"Analysis","tab":"e5c550bc.cd212","order":3,"disp":true,"width":"6","collapse":false},{"id":"904121b7.faead","type":"ui_group","z":"","name":"Configuration","tab":"e5c550bc.cd212","order":2,"disp":true,"width":"6","collapse":false},{"id":"b38dd4b2.3fd2a8","type":"ui_group","z":"","name":"Config values","tab":"e5c550bc.cd212","order":1,"disp":true,"width":"9","collapse":true},{"id":"e5c550bc.cd212","type":"ui_tab","z":"","name":"Doorman","icon":"dashboard"}]