src/Node-red/doorman-1.txt
[{"id":"7d83e89d.9bdeb8","type":"file in","z":"3e2a2ff3.6df0f","name":"Load the image file","filename":"C:\\Users\\Hiresh\\.node-red\\public\\image1.jpg","format":"","sendError":true,"x":470,"y":340,"wires":[["cefe6643.b9d178"]]},{"id":"72def05a.677e1","type":"http request","z":"3e2a2ff3.6df0f","name":"Send a request to get labels","method":"POST","ret":"obj","url":"","tls":"","x":460,"y":480,"wires":[["fd2c92e3.c5703"]]},{"id":"cefe6643.b9d178","type":"function","z":"3e2a2ff3.6df0f","name":" Google Cloud Vision API ","func":"var image = {content: msg.payload.toString('base64')};\nvar features = {type: 'FACE_DETECTION', maxResults: 3};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\nmsg.payload = requests;\nglobal.set(\"imagebase64\",msg.payload.toString('base64'));\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["56ca39d7.3f0f28"]]},{"id":"56ca39d7.3f0f28","type":"change","z":"3e2a2ff3.6df0f","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"googleapikey","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":480,"wires":[["72def05a.677e1"]]},{"id":"fd2c92e3.c5703","type":"function","z":"3e2a2ff3.6df0f","name":"Report found labels","func":"//To skip messages like { \"responses\": [ {} ] }\nif (Object.keys(msg.payload.responses[0]).length < 1) {\n    msg.payload=\"\";\n    return msg;\n}\n\nvar labels = 0;\nvar faceAnnotations = msg.payload.responses[0].faceAnnotations;\nfor (var i = 0; i < faceAnnotations.length; i++) {\n    labels+=(faceAnnotations[i].detectionConfidence);\n}\nvar confidence = labels/faceAnnotations.length;\nmsg.payload = confidence.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":480,"wires":[["57acf64f.36e368","ac0e2e5e.525ec","abd33cf9.2d24c"]]},{"id":"11f124e1.e12b5b","type":"inject","z":"3e2a2ff3.6df0f","name":"Trigger","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":222,"y":340,"wires":[["7d83e89d.9bdeb8"]]},{"id":"57acf64f.36e368","type":"switch","z":"3e2a2ff3.6df0f","name":"XOR","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":525.0000038146973,"y":638.7500085830688,"wires":[["292575fd.5ea31a","e10b34a7.921ee8","67ffc5ce.8740bc"]]},{"id":"292575fd.5ea31a","type":"ui_gauge","z":"3e2a2ff3.6df0f","name":"","group":"aa27d01f.db159","order":0,"width":0,"height":0,"gtype":"gage","title":"Detection Confidence","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#b50000","#e6e600","#68f909"],"seg1":"0.40","seg2":"0.60","x":192.50000762939453,"y":693.7500114440918,"wires":[]},{"id":"987e7290.2a85","type":"ui_form","z":"3e2a2ff3.6df0f","name":"","label":"","group":"904121b7.faead","order":0,"width":0,"height":0,"options":[{"label":"File_path","value":"File_path","type":"text","required":true},{"label":"GoogleAPI","value":"GoogleAPI","type":"text","required":false},{"label":"c","value":"c","type":"text","required":false},{"label":"d","value":"d","type":"text","required":false}],"formValue":{"File_path":"","GoogleAPI":"","c":"","d":""},"payload":"","submit":"submit","cancel":"cancel","topic":"msg.config","x":110,"y":140,"wires":[["da989157.c2801"]]},{"id":"da989157.c2801","type":"function","z":"3e2a2ff3.6df0f","name":"set config","func":"global.set(\"googleapikey\",msg.payload.GoogleAPI);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["9b505f76.f1fdb","3ccac172.a01efe","522f166d.00c7b8","6b5ff8ed.832ab8"]]},{"id":"3ccac172.a01efe","type":"ui_text","z":"3e2a2ff3.6df0f","group":"b38dd4b2.3fd2a8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":60,"wires":[]},{"id":"9b505f76.f1fdb","type":"ui_text","z":"3e2a2ff3.6df0f","group":"b38dd4b2.3fd2a8","order":0,"width":0,"height":0,"name":"","label":"API Key","format":"{{msg.payload.GoogleAPI}}","layout":"row-spread","x":589,"y":100,"wires":[]},{"id":"522f166d.00c7b8","type":"ui_text","z":"3e2a2ff3.6df0f","group":"b38dd4b2.3fd2a8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":140,"wires":[]},{"id":"6b5ff8ed.832ab8","type":"ui_text","z":"3e2a2ff3.6df0f","group":"b38dd4b2.3fd2a8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":180,"wires":[]},{"id":"e10b34a7.921ee8","type":"function","z":"3e2a2ff3.6df0f","name":"trigger to save image","func":"if(msg.payload < 0.5){\n    return null;\n}\nmsg.payload =  global.imagebase64;\nreturn msg;","outputs":1,"noerr":0,"x":422.50000762939453,"y":692.5000114440918,"wires":[["e646b160.0b119"]]},{"id":"7487330a.24c83c","type":"debug","z":"3e2a2ff3.6df0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":210.0000114440918,"y":806.2500114440918,"wires":[]},{"id":"e646b160.0b119","type":"switch","z":"3e2a2ff3.6df0f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":290.00000762939453,"y":755.0000114440918,"wires":[["7487330a.24c83c"]]},{"id":"abd33cf9.2d24c","type":"ui_template","z":"3e2a2ff3.6df0f","group":"c464966b.3dd448","name":"","order":0,"width":"6","height":"5","format":"<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('hi');\n            console.log(data);\n            if(data!=null && data !=\"\"){\n                document.getElementById('image1').style.display=\"block\";\n            }\n            else{\n               document.getElementById('image1').style.display=\"none\"; \n            }\n        });\n    })(scope);\n</script>\n<div>\n    <img id=\"image1\" style=\"width:100%;height:100%;display:none\" src=\"http://localhost:3333/image1.jpg\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":356.00000381469727,"y":578.0000085830688,"wires":[[]]},{"id":"2a8a1cf1.722054","type":"debug","z":"3e2a2ff3.6df0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":261.2500114440918,"y":1015.0000123977661,"wires":[]},{"id":"e1b3de6e.02258","type":"http request","z":"3e2a2ff3.6df0f","name":"","method":"POST","ret":"txt","url":"https://api.mlab.com/api/1/databases/home_security/collections/visitors?apiKey=MrfpkboO2errNtfksqJXEHStAEXSX9ah","tls":"","x":381.25000762939453,"y":973.7500133514404,"wires":[["2a8a1cf1.722054"]]},{"id":"f410997b.e24c68","type":"json","z":"3e2a2ff3.6df0f","name":"","property":"payload","action":"obj","pretty":false,"x":451.25000762939453,"y":918.7500133514404,"wires":[["e1b3de6e.02258"]]},{"id":"98881b55.6131c8","type":"base64","z":"3e2a2ff3.6df0f","name":"","action":"str","property":"payload","x":629.2500076293945,"y":791.0000162124634,"wires":[["94020bd5.c31838"]],"outputLabels":["{\"image\":\"hi\"}"]},{"id":"ed990d72.9777b","type":"debug","z":"3e2a2ff3.6df0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":626.5000114440918,"y":974.7500171661377,"wires":[]},{"id":"67ffc5ce.8740bc","type":"file in","z":"3e2a2ff3.6df0f","name":"image","filename":"C:\\Users\\Hiresh\\.node-red\\public\\image1.jpg","format":"","chunk":false,"sendError":false,"x":637.5000038146973,"y":693.7500162124634,"wires":[["98881b55.6131c8","283cd94a.180086"]]},{"id":"94020bd5.c31838","type":"function","z":"3e2a2ff3.6df0f","name":"Json","func":"var newMsg = { payload: \"{\\\"data\\\":\\\"\"+msg.payload+\"\\\"}\" };\nreturn newMsg;","outputs":1,"noerr":0,"x":668.7500076293945,"y":860.0000152587891,"wires":[["f410997b.e24c68","ed990d72.9777b"]]},{"id":"ac0e2e5e.525ec","type":"debug","z":"3e2a2ff3.6df0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":888.75,"y":573.75,"wires":[]},{"id":"283cd94a.180086","type":"function","z":"3e2a2ff3.6df0f","name":" Google Cloud Vision API ","func":"var image = {content: msg.payload.toString('base64')};\nvar features = {type: 'LABEL_DETECTION', maxResults: 30};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\nmsg.payload = requests;\nglobal.set(\"imagebase64\",msg.payload.toString('base64'));\nreturn msg;","outputs":1,"noerr":0,"x":970.0000152587891,"y":713.7500114440918,"wires":[["a74c5a8a.3cf7f8"]]},{"id":"a74c5a8a.3cf7f8","type":"change","z":"3e2a2ff3.6df0f","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"googleapikey","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":987.5000152587891,"y":848.7500128746033,"wires":[["85e2c40c.8c06a8"]]},{"id":"85e2c40c.8c06a8","type":"http request","z":"3e2a2ff3.6df0f","name":"Send a request to get labels","method":"POST","ret":"obj","url":"","tls":"","x":987.5000152587891,"y":913.7500152587891,"wires":[["3fd5cf3b.a4bfa"]]},{"id":"3fd5cf3b.a4bfa","type":"function","z":"3e2a2ff3.6df0f","name":"Report found labels","func":"var labels = \"\";\nvar labelAnnotations = msg.payload.responses[0].labelAnnotations;\nfor (var i = 0; i < labelAnnotations.length; i++) {\n    labels+=(\"<br><label style=\\\"color:green;\\\">\"+labelAnnotations[i].description+\"</label>\");\n}\nmsg.payload = labels;\nreturn msg;","outputs":1,"noerr":0,"x":961.2500076293945,"y":967.5000143051147,"wires":[["c7b1bf29.bd0d1","203eec7a.2348e4"]]},{"id":"c7b1bf29.bd0d1","type":"debug","z":"3e2a2ff3.6df0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":978.75,"y":1030,"wires":[]},{"id":"203eec7a.2348e4","type":"ui_text","z":"3e2a2ff3.6df0f","group":"c464966b.3dd448","order":0,"width":"3","height":"5","name":"","label":"Labels Detected:","format":"{{msg.payload}}","layout":"col-center","x":770.0000152587891,"y":1043.750015258789,"wires":[]},{"id":"aa27d01f.db159","type":"ui_group","z":"","name":"Analysis","tab":"e5c550bc.cd212","order":3,"disp":true,"width":"6","collapse":false},{"id":"904121b7.faead","type":"ui_group","z":"","name":"Configuration","tab":"e5c550bc.cd212","order":2,"disp":true,"width":"6","collapse":false},{"id":"b38dd4b2.3fd2a8","type":"ui_group","z":"","name":"Config values","tab":"e5c550bc.cd212","order":1,"disp":true,"width":"9","collapse":true},{"id":"c464966b.3dd448","type":"ui_group","z":"","name":"Image","tab":"e5c550bc.cd212","disp":true,"width":"10","collapse":false},{"id":"e5c550bc.cd212","type":"ui_tab","z":"","name":"Doorman","icon":"dashboard"}]