src/Node-red/doorman.txt
[{"id":"d23b635e.63234","type":"tab","label":"Doorman","disabled":false,"info":"Doorman identifies visitors and notifies the owner. In case of harm identified alrted to emergency contacts."},{"id":"9f7b4a5c.a25828","type":"file in","z":"d23b635e.63234","name":"Load the image file","filename":"C:\\Users\\VThotigar\\Downloads\\edited\\VT.jpeg","format":"","sendError":true,"x":470,"y":340,"wires":[["1f4f4924.0fcd27"]]},{"id":"30b996c8.8f9c2a","type":"http request","z":"d23b635e.63234","name":"Send a request to get labels","method":"POST","ret":"obj","url":"","tls":"","x":460,"y":480,"wires":[["1c616eaa.7fe981"]]},{"id":"1f4f4924.0fcd27","type":"function","z":"d23b635e.63234","name":" Google Cloud Vision API ","func":"var image = {content: msg.payload.toString('base64')};\nvar features = {type: 'FACE_DETECTION', maxResults: 3};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\nmsg.payload = requests;\nglobal.set(\"imagebase64\",msg.payload.toString('base64'));\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["ec29b006.9206e"]]},{"id":"ec29b006.9206e","type":"change","z":"d23b635e.63234","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"googleapikey","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":480,"wires":[["30b996c8.8f9c2a"]]},{"id":"1c616eaa.7fe981","type":"function","z":"d23b635e.63234","name":"Report found labels","func":"//To skip messages like { \"responses\": [ {} ] }\nif (Object.keys(msg.payload.responses[0]).length < 1) {\n    return null;\n}\n\nvar labels = 0;\nvar faceAnnotations = msg.payload.responses[0].faceAnnotations;\nfor (var i = 0; i < faceAnnotations.length; i++) {\n    labels+=(faceAnnotations[i].detectionConfidence);\n}\nvar confidence = labels/faceAnnotations.length;\nmsg.payload = confidence.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":480,"wires":[["97901669.be9ab8"]]},{"id":"869f14d0.4b41b8","type":"inject","z":"d23b635e.63234","name":"Trigger","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":222,"y":340,"wires":[["9f7b4a5c.a25828"]]},{"id":"f0c9211d.a3c8a","type":"exec","z":"d23b635e.63234","command":"date","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SMS Alert","x":360,"y":600,"wires":[[],[],["eb3e8413.54e0a8"]]},{"id":"97901669.be9ab8","type":"switch","z":"d23b635e.63234","name":"XOR","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":600,"wires":[["d72b6882.8d9928","f0c9211d.a3c8a","da0207f1.b69dc8"]]},{"id":"d72b6882.8d9928","type":"ui_gauge","z":"d23b635e.63234","name":"","group":"342e7e7a.90f092","order":0,"width":0,"height":0,"gtype":"gage","title":"Detection Confidence","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#b50000","#e6e600","#68f909"],"seg1":"0.40","seg2":"0.60","x":380,"y":660,"wires":[]},{"id":"cd2296b1.e37058","type":"ui_form","z":"d23b635e.63234","name":"","label":"","group":"3f120e2e.4eed82","order":0,"width":0,"height":0,"options":[{"label":"File_path","value":"File_path","type":"text","required":true},{"label":"GoogleAPI","value":"GoogleAPI","type":"text","required":false},{"label":"c","value":"c","type":"text","required":false},{"label":"d","value":"d","type":"text","required":false}],"formValue":{"File_path":"","GoogleAPI":"","c":"","d":""},"payload":"","submit":"submit","cancel":"cancel","topic":"msg.config","x":110,"y":140,"wires":[["bcd34950.c710e8"]]},{"id":"bcd34950.c710e8","type":"function","z":"d23b635e.63234","name":"set config","func":"global.set(\"googleapikey\",msg.payload.GoogleAPI);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["576023b6.44008c","370558b9.383948","1ddef9cf.092e26","5ce79624.0507e8"]]},{"id":"370558b9.383948","type":"ui_text","z":"d23b635e.63234","group":"f0d21a33.20ddf8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":60,"wires":[]},{"id":"576023b6.44008c","type":"ui_text","z":"d23b635e.63234","group":"f0d21a33.20ddf8","order":0,"width":0,"height":0,"name":"","label":"API Key","format":"{{msg.payload.GoogleAPI}}","layout":"row-spread","x":589,"y":100,"wires":[]},{"id":"1ddef9cf.092e26","type":"ui_text","z":"d23b635e.63234","group":"f0d21a33.20ddf8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":140,"wires":[]},{"id":"5ce79624.0507e8","type":"ui_text","z":"d23b635e.63234","group":"f0d21a33.20ddf8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":180,"wires":[]},{"id":"eb3e8413.54e0a8","type":"debug","z":"d23b635e.63234","name":"SMS debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":600,"wires":[]},{"id":"da0207f1.b69dc8","type":"function","z":"d23b635e.63234","name":"trigger to save image","func":"if(msg.payload < 0.5){\n    return null;\n}\nmsg.payload =  global.imagebase64;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":740,"wires":[["34ef738.dec1e8c"]]},{"id":"726bb71e.8c8458","type":"debug","z":"d23b635e.63234","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":740,"wires":[]},{"id":"34ef738.dec1e8c","type":"switch","z":"d23b635e.63234","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":740,"wires":[["726bb71e.8c8458"]]},{"id":"342e7e7a.90f092","type":"ui_group","z":"","name":"Analysis","tab":"ee615581.a5ca38","order":3,"disp":true,"width":"6","collapse":false},{"id":"3f120e2e.4eed82","type":"ui_group","z":"","name":"Configuration","tab":"ee615581.a5ca38","order":2,"disp":true,"width":"6","collapse":false},{"id":"f0d21a33.20ddf8","type":"ui_group","z":"","name":"Config values","tab":"ee615581.a5ca38","order":1,"disp":true,"width":"9","collapse":true},{"id":"ee615581.a5ca38","type":"ui_tab","z":"","name":"Doorman","icon":"dashboard"}]