src/Node-red/node_red.txt
[{"id":"4687c0e1.d66c4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"636c4e71.2d98b","type":"file in","z":"4687c0e1.d66c4","name":"Load the image file","filename":"C:\\Users\\Hiresh\\Desktop\\hiresh.jpg","format":"","sendError":true,"x":323,"y":68,"wires":[["c25218bb.b382e8"]]},{"id":"83eb63d9.0774a","type":"http request","z":"4687c0e1.d66c4","name":"Send a request to get labels","method":"POST","ret":"obj","url":"","tls":"","x":166,"y":216,"wires":[["a37cda0c.b69018"]]},{"id":"c25218bb.b382e8","type":"function","z":"4687c0e1.d66c4","name":" Google Cloud Vision API ","func":"var image = {content: msg.payload.toString('base64')};\nvar features = {type: 'FACE_DETECTION', maxResults: 3};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\nmsg.payload = requests;\n\nreturn msg;","outputs":1,"noerr":0,"x":147,"y":141,"wires":[["62dd6fc3.b4a46"]]},{"id":"62dd6fc3.b4a46","type":"change","z":"4687c0e1.d66c4","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyAA7ozGl66gZC4yaq981Jxi5Xp6auEPv4s","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":438,"y":141,"wires":[["83eb63d9.0774a"]]},{"id":"a37cda0c.b69018","type":"function","z":"4687c0e1.d66c4","name":"Report found labels","func":"// To skip messages like { \"responses\": [ {} ] }\n//if (Object.keys(msg.payload.responses[0]).length < 1) {\n//    return null;\n//}\n\n//var labels = 'labels: ';\n//var labelAnnotations = msg.payload.responses[0].labelAnnotations;\n//for (var i = 0; i < labelAnnotations.length; i++) {\n//    labels += labelAnnotations[i].description;\n//    labels +=' (' + labelAnnotations[i].score + '), ';\n//}\n\n//msg.payload = labels.slice(0, labels.length - 2);\nreturn msg;","outputs":1,"noerr":0,"x":524,"y":215,"wires":[["30e1c01.1ba4b4"]]},{"id":"61ebe574.a6a37c","type":"inject","z":"4687c0e1.d66c4","name":"Trigger","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":95,"y":68,"wires":[["636c4e71.2d98b"]]},{"id":"30e1c01.1ba4b4","type":"debug","z":"4687c0e1.d66c4","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":136,"y":296,"wires":[]},{"id":"5eb1dfdb.e5f7b","type":"exec","z":"4687c0e1.d66c4","command":"python C:\\Users\\Hiresh\\Desktop\\hackaton1\\hello-world.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SMS Alert","x":400,"y":312.5,"wires":[[],[],[]]},{"id":"a476395c.7a2468","type":"switch","z":"4687c0e1.d66c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":705,"y":208,"wires":[[]]}]